@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Boldonse&family=Bungee+Spice&family=Eater&family=Gochi+Hand&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Honk&family=Lexend:wght@100..900&family=Libertinus+Keyboard&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&family=Playwrite+US+Trad+Guides&family=Press+Start+2P&family=Rubik+Mono+One&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --second-color: #E3E3E3;
    --third-color: #ACACAC;
    
    --background-first: #7B7B7B;
    --background-second: #F5EEE3;
    
    --cards-light: #D9D9D98C;
    
    --strong-elements: #E9EBFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-first);
    color: var(--primary-color);
    font-size: 34px;
    
    min-height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.estrelas {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
}

.inicio {
    width: 100%;
    height: 100dvh;
    
    background-image: url(src/paisagemBack.jpg);
    background-size: cover;
    background-position: center;
}

 .topIn {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
   
    width: 100%;
    
    background-color: var(--cards-light);
    padding: 5px 0;
   
    footer {
        font-weight: bold;
        font-family: montserrat;
        font-size: 10px;
        
        letter-spacing: 5px;
        color: var(--third-color);
    }
    
    .direitos {
        font-size: 8px;
        font-family: Poppins;
        font-weight: 100;
        
        color: #999;
    }
}



.sloganGatilho {
    border-left: 5px solid var(--cards-light);
    padding: 0 10px;
    
    height: 24%;
    position: absolute;
    bottom: 50px;
    left: 8px;
    text-align: start;
    
    h1 {
        width: 200px;
        
        font-family: Montserrat;
        letter-spacing: 8px;
        animation: brilhar 10s ease-out infinite;
    }
    
     .digitando {
        font-family: "Space Mono", monospace;
        font-size: 25px;
        color: #DFDFDF;
        
        border-right: 2px solid #fff; /* borda/cursor */
          white-space: nowrap;
          overflow: hidden;
        
          width: 0;
          animation:
        digitos 4s steps(22) forwards,
        piscar .7s step-end infinite;
    }
}

.chama {
    position: absolute;
    bottom: 30px;
        
    color: #666;
    
    font-size: 10px;
    font-family: Poppins;
    
    display: flex;
    justify-self: center;
    align-self: center;
    
    animation: subirDescer 6s ease infinite;
}

@keyframes txtCrescer {
    0% {
        content: "";
        border-right: 2px solid transparent;
    }
    
    10% {
        content: "S";
        
    }
    
    15% {
        content: "Si";
        border-right: 2px solid #888;
    }
    
    20% {
        content: "Sim";
    }
    
    25% {
        content: "Simp";
        border-right: 2px solid #888;
    }
    
    30% {
        content: "Simpl";
    }
    
    35% {
        content: "Simple";
        border-right: 2px solid #888;
    }
    
    40% {
        content: "Simples";
    }
    
    45% {
        content: "Simples.";
        border-right: 2px solid #888;
    }
    
    50% {
        content: "Simples. E";
    }
    
    55% {
        content: "Simples. E q";
        border-right: 2px solid #888;
    }
    
    60% {
        content: "Simples. E qu";
    }
    
    65% {
        content: "Simples. E que";
        border-right: 2px solid #888;
    }
    
    70% {
        content: "Simples. E que v";
    }
    
    75% {
        content: "Simples. E que ve";
        border-right: 2px solid #888;
    }
    
    80% {
        content: "Simples. E que ven";
    }
    
    85% {
        content: "Simples. E que vend";
        border-right: 2px solid #888;
    }
    
    90% {
        content: "Simples. E que vendw";
    }
    
    95% {
        content: "Simples. E que vend";
        border-right: 2px solid #888;
    }
    
    100% {
        content: "Simples. E que vende";
    }
}
@keyframes brilhar {
    0%, 100% {
        text-shadow: 0 0 0 #CDCDCD;
    }
    
    40% {
        text-shadow: -5px 0 10px #CDCDCD;
    }
    
    60% {
        text-shadow: 5px 0 10px #CDCDCD;
    }
}
@keyframes digitos {
  to {
    width: 22ch; /* quantidade de caracteres */
  }
}
@keyframes piscar {
  50% {
    border-color: transparent;
  }
}

.chamada {
    min-height: 100dvh;
    padding: 0 10px;
    
    background: #E4E4E4;
    width: 100%;
}

.container, .sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    .imgI img {
        border-radius: 100%;
        height: 100px;
        
        margin-top: 100px;
        
        animation: subirDescer 8s ease infinite, pulsar 10s ease infinite;
    }
    
    .txt {
        font-family: Montserrat, sans-serif;
        
        color: #555555;
        
        .title {
            margin-bottom: 15px;
        }
        
        .subtitle {
            font-size: 20px;
            max-width: 360px;
            color: #555555;
            display: flex;
            justify-self: center;
        }
    }
    
    .projetosBtn, .habilidadesBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        .imgLogo img {
            height: 60px;
            padding: 10px 10px;
            
            border-bottom: 5px solid #000;
            
            animation: borderDescer 10s ease infinite;
        }
        
        button {
            border-radius: 1.5rem;
            border: none;
            
            padding: 13px 18px;
            
            font-size: 15px;
            font-family: Montserrat, sans-serif;
            font-weight: 300;
            
            transition: .5s ease;
            background: transparent;
        }
        button:hover {
            transform: scale(1.1);
        }
        
        a {
            text-decoration: none;
            color: #000;
            -webkit-tap-highlight-color: transparent;
        }
    }
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: start;
    
    padding-top: 200px;
    min-width: 50%;
    width: 100%;
}

@keyframes subirDescer {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(14px);
    }
}
@keyframes pulsar {
    0%,100% {
        text-shadow: 0 0 0 transparent;
    }
    
    50% {
        box-shadow: 3px 3px 7px 1px #454545;
    }
}
@keyframes borderDescer {
    0%, 100% {
        transform: rotateY(0);
    }
    
    25% {
        transform: rotateY(180deg);
    }
    
    75% {
        transform: rotateY(0);
    }
}

.habilidades {
    min-height: 100dvh;
    padding: 20px 30px;
    
    background: #383838;
    width: 100%;
    
    font-family: Montserrat, sans-serif;
    
    .txtsArea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        gap: 60px;
        
        .title {
            font-size: 45px;
            
            border-bottom: 6px solid #B1B1B1;
        }
        .subtitle {
            font-size: 20px;
            
            color: #eee;
            font-weight: 300;
        }
        
        .separate {
            display: flex;
            justify-content: space-around;
            
            width: 100%;
            
            hr {
                height: 250px;
            }
            
            .habitech .container, .habilife {
                font-size: 13px;
                
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                text-align: start;
                
                h4 {
                    font-size: 35px;
                }
                
                .html, .css, .js, .python, .lua, .ingles, .marketing, .ciencia, .espanhol, .foco{
                    padding-top: 19px;
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    
                    .percent {
                        padding: 3px;
                        width: 80px;
                        background: linear-gradient(90deg, #5E5263 0%, #eee 0%);
                        border-radius: 1rem;
                        border: 3px solid #000;
                        text-align: center;
                        color: #FFFFFF;
                        text-shadow: 0 0 1px 3px #000;
                        font-weight: 600;
                        font-size: 5px;
                        max-height: 30px;
                    }
                }
                .html .percent {
                    background: linear-gradient(90deg, #5E5263 82%, #ACACAC 0%);
                }
                .css .percent {
                    background: linear-gradient(90deg, #5E5263 90%, #ACACAC 0%);
                }
                .js .percent {
                    background: linear-gradient(90deg, #5E5263 63%, #ACACAC 0%);
                }
                .python .percent {
                    background: linear-gradient(90deg, #5E5263 78%, #ACACAC 0%);
                }
                .lua .percent {
                    background: linear-gradient(90deg, #5E5263 45%, #ACACAC 0%);
                }
                .ingles .percent {
                    background: linear-gradient(90deg, #5E5263 79%, #ACACAC 0%);
                }
                .espanhol .percent {
                    background: linear-gradient(90deg, #5E5263 53%, #ACACAC 0%);
                }
                .marketing .percent {
                    background: linear-gradient(90deg, #5E5263 83%, #ACACAC 0%);
                }
                .ciencia .percent {
                    background: linear-gradient(90deg, #5E5263 87%, #ACACAC 0%);
                }
                .foco .percent {
                    background: linear-gradient(90deg, #5E5263 97%, #ACACAC 0%);
                }
            }
        }
    }
    
    .trabalho {
        margin-top: 50px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: start;
        
        border: 2px solid #282828;
        border-radius: 0.5rem;
        padding: 29px 15px;
        background-color: #2A2A2A;
        
        z-index: 100;
        
        gap: 25px;
        
        transition: .3s ease;
        
        .title {
            font-size: 35px;
            font-weight: 600;
            color: #E7E7E7;
        }
        
        li {
            font-size: 18px;
            padding: 4px 8px;
        }
    }
    .trabalho:hover {
        transform: scale(1.04);
    }
}

.projetos {
    min-height: 100dvh;
    padding: 27px 30px;
    
    background: #222222;
    width: 100%;
    
    font-family: Montserrat, sans-serif;
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    gap: 30px;
    
    .title {
        font-size: 58px;
        padding-bottom: 15px;
    }
    .subtitle {
        font-size: 17px;
        color: #D6D6D6;
        font-weight: 300;
    }
    
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        margin: 60px 0;
        
        .project {
            background: #333;
            box-shadow: 0 0 18px 3px #00000052;
            padding: 45px 49px;
            border-radius: 2rem;
            
            width: 90%;
            
            margin: 20px 0;
            
            h1 {
                font-size: 29px;
            }
            
            p {
                font-size: 12px;
            }
            
            .ferramenta {
                display: flex;
                justify-content: center;
                
                font-size: 19px;
                width: 100%;
                padding: 15px 0;
                
                ul {
                    display: flex;
                    justify-content: space-evenly;
                    
                    width: 100%;
                    list-style: none;
                    
                    li {
                        background: #444;
                        padding: 5px 9px;
                        border-radius: 1rem;
                        transition: .2s ease;
                    }
                    li:hover {
                        box-shadow: 0 0 5px #D6D6D6;
                    }
                }
            }
            
            .imgProject {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                gap: 20px;
                
                img {
                    width: 250px;
                    border-radius: 2rem;
                    
                    opacity: 0.5;
                }
                
                a {
                    color: #B8FFFF;
                    font-size: 20px;
                }
                a:hover {
                    transform: scale(1.06);
                }
            }
        }
    }
}

.contato {
    min-height: 100dvh;
    padding: 27px 30px;
    
    background: #2E2B33;
    width: 100%;
    
    font-family: Montserrat, sans-serif;
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    gap: 50px;
    
    .title {
        font-size: 60px;
        margin-bottom: 10px;
        border-bottom: 3px solid #F1F1F1;
    }
    
    .subtitle {
        font-size: 18px;
        color: #DDD;
    }
    
    .social-media {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: start;
        
        height: 650px;
        
        gap: 50px;
        
        .instagram, .whatsapp, .github {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            
            font-size: 30px;
            
            a {
                color: #5E5263;
                font-size: 16px;
            }
        }
    }
    
    .numero {
        position: relative;
        top: -200px;
        
        font-size: 17px;
        
        span {
            color: #004777;
            text-decoration: underline;
        }
    }
    
    .a1, .a2, .a3 {
        margin: 5px 0;
        
        position: relative;
        top: -150px;
    }
    
    .a1 {
        animation: aviao 5s linear infinite;
    }
    .a2 {
        animation: aviao 4s linear infinite;
    }
    .a3 {
        animation: aviao 6s linear infinite;
    }
}

@keyframes aviao {
    0% {
        transform: translateX(-1000px);
    }
    
    100% {
        transform: translateX(1000px);
    }
}

.empresarioAndEu {
    font-size: 6px;
    background: #555;
    width: 100%;
    position: fixed;
    bottom: 0;
    
    padding: 3px 0;
}

@media (min-width: 1024px) {
    .inicio {
        background: radial-gradient(
          ellipse at center,
          rgba(0, 0, 0, 0.25) 0%,
          rgba(0, 0, 0, 0.55) 60%,
          rgba(0, 0, 0, 0.7) 100%
        ), url(src/paisagemBackgroundPC.jpg);
        background-size: cover;
        background-position: center;
        
        .chama {
            font-size: 14px;
        }
    }
    
    
    .topIn {
        footer {
            font-size: calc(
                10px + 12px
            );
            color: #555;
        }
        .direitos {
            font-size: calc(8px + 6px);
            color: #333;
        }
    }
    
    .sloganGatilho {
        height: calc(24% + 10px);
        
        h1 {
            font-size: 90px;
        }
    }
    
    .container {
        .imgI img {
            height: 180px;
            margin-bottom: 50px;
        }
        
        .txt {
            .title {
                font-size: 78px;
            }
            .subtitle {
                font-size: 25px;
            }
        }
        
        .habilidadesBtn, .projetosBtn {
            .imgLogo img {
                height: 80px;
            }
            button {
                font-size: 19px;
            }
        }
    }
    
    .habilidades {
        .txtsArea .title {
            font-size: 59px;
        }
        
        padding: 20px 465px;
        
        .titlep, .titlet {
            font-size: 40px;
            border-bottom: 3px solid #888;
        }
    }
    
    .contato, .container {
        .a1, .a2, .a3 {
            display: none;
        }
    }
} /* END PC TAMANHO */
